input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

html {
  overflow-y: auto;
}

p {
  margin: 0px;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-move {
  cursor: move;
}

.ghost {
  opacity: 0.5;
  background: lightgray;
}

.grabbable {
  cursor: move;
  /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

/* Apply a "closed-hand" cursor during drag operation. */
.grabbable:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.max-width-reset {
  max-width: initial !important;
}

.min-width-reset {
  min-width: initial !important;
}

.full-width {
  width: 100%;
}

.fullscreen-card-actions {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
}

.text-overflow-ellipsis {
  text-overflow: ellipsis !important;
}

.text-align-end {
  text-align: end;
}

.text-align-center {
  text-align: center;
}

.v-main .letter-spacing-2 {
  letter-spacing: 0.2px !important;
}

@mixin line-clamp($lines, $lineheight: 16) {
  overflow: hidden;
  height: calc($lines * $lineheight * 1px);
  line-height: calc($lineheight * 1px);

  &:after {
    content: "";
    text-align: right;
    bottom: 0;
    right: 0;
    width: 100%;
    background: linear-gradient(to right, rgba(238, 3, 3, 0), rgba(255, 255, 255, 1) 80%);
  }
}

.line-clamp-2 {
  @include line-clamp(2);
}

.line-clamp-3-24 {
  @include line-clamp(3, 24);
}

.line-clamp-2-28 {
  @include line-clamp(2, 28);
}

.line-clamp-2-40 {
  @include line-clamp(2, 40);
}

/* Code for the browsers that support -webkit-line-clamp and overwrite the above code */
@supports (-webkit-line-clamp: 2) {
  @mixin line-clamp($lines) {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    height: initial;
    line-height: initial;

    &:after {
      display: none;
    }
  }

  .line-clamp-2 {
    @include line-clamp(2);
  }

  .line-clamp-3 {
    @include line-clamp(3);
  }
}

.tooltip-title {
  line-height: 16px;
}

.tooltip-value-row {
  line-height: 14px !important;
  overflow-wrap: break-word;
}

.hyphenate {
  word-wrap: break-word;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.white-space-wrap {
  white-space: normal;
}

.white-space-nowrap {
  white-space: nowrap;
}

.white-space-pre-line {
  white-space: pre-line !important;
}

.white-space-pre {
  white-space: pre !important;
}

.shift-view-label {
  color: rgb(var(--v-theme-quaternary-dark-2)) !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  text-transform: uppercase;
  letter-spacing: normal !important;
  white-space: nowrap;

  &.large-label {
    font-size: 16px !important;
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(var(--v-theme-quaternary-dark));
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(var(--v-theme-secondary-dark));
  border: 2px rgb(var(--v-theme-quaternary-dark)) solid;
  border-radius: 6px;
  background-clip: padding-box;

  &:hover {
    background: rgb(var(--v-theme-primary-dark));
  }
}

.dark-theme-scrollbar {

  //overwrite light version one if needed  
  &::-webkit-scrollbar-track {
    background: #3d3d3d !important;
  }

  &::-webkit-scrollbar-thumb {
    background: #999999 !important;
    border: 2px #999999 !important;

    &:hover {
      background: #999999 !important;
    }
  }
}

// firefox scroll fix
html,
body,
#app,
.v-theme--dark,
.v-theme--light {
  scrollbar-color: rgb(var(--v-theme-secondary-dark)) rgb(var(--v-theme-quaternary-dark)) !important;
  scrollbar-width: thin !important;
}

.rotate270deg {
  transform: rotate(270deg);
}

.rotate180deg {
  transform: rotateX(180deg);
}

.v-application {
  .v-chip.tinted-outline {
    border-color: rgb(var(--v-theme-primary)) !important;
    border-style: solid !important;
    border-width: 1px;
  }
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: rgb(var(--v-theme-primary-dark));
}

.dark.hover-underline-animation:after {
  background-color: #FFF;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.prevent-select {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

.v-picker--small {
  .v-date-picker-header__value {
    font-size: 14px;
  }
}

.v-list-group--dense {
  .v-list-group__header {
    padding: 0 12px !important;
    max-height: 40px;
    min-height: 40px;

    .v-list-item__content {
      padding: 8px 0px;
    }
  }

  .v-list-group__items {
    .v-list-item {
      max-height: 40px;
      min-height: 40px;
    }

    .v-list-item__content {
      padding: 8px 0px;
    }
  }
}

.line-break-anywhere {
  line-break: anywhere !important;
}

mark.text-editor-variable {
  background: white;
  padding: 2px 4px;
  border-radius: 4px;
}

.list-item--flex {
  &.v-list-item {
    .v-list-item__content {
      display: flex;
      align-items: center;
    }
  }
}

.v-input--disabled {
  .v-field--variant-filled .v-field__overlay {
    opacity: 0.08;
  }
}

:focus-visible {
  outline: none;
}

.v-btn:focus-visible::after {
  opacity: 0;
}

.evocon-navigation-drawer {
  .v-list-item--active>.v-list-item__overlay {
    opacity: 0;
  }

  .v-list-item--active:hover>.v-list-item__overlay {
    opacity: 0.12;
  }
}

.line-height-normal {
  line-height: normal;
}

.disabled-list-item-with-icon {
  .v-list-item--disabled {
    pointer-events: auto;

    .v-list-item-title {
      display: flex;
      align-items: center;
    }
  }
}

.pulse {
  border-radius: 50%;
  height: 12px;
  width: 12px;
  background: rgb(var(--v-theme-primary));
  box-shadow: 0 0 0 0 rgba(var(--v-theme-primary), 1);
  transform: scale(1);
  animation: pulse 2s infinite;

  &.pulse--small {
    height: 9px;
    width: 9px;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(var(--v-theme-primary), 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(var(--v-theme-primary), 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(var(--v-theme-primary), 0);
  }
}

.d-grid {
  display: grid;
}

.max-width-100 {
  max-width: 100%;
}

.max-height-100 {
  max-height: 100%;
}

:root {
  --chip-max-width: 400px;
}

.sv-skeleton-loader {
  height: 100%;

  .v-skeleton-loader__image {
    height: 100%;
    background: #000000;
  }

  .v-skeleton-loader__bone::after {
    background: linear-gradient(90deg, transparent, rgba(var(--v-theme-skeleton-highlight)), transparent);
  }
}