$font: "Open Sans", sans-serif;

@use 'vuetify/settings' with (
  $body-font-family: $font,
  $button-colored-disabled: false,
  $button-font-weight: 600,
  $button-text-letter-spacing: normal,
  $button-text-transform: uppercase,
  $chip-disabled-opacity: 0.5,
  $list-item-subtitle-opacity: var(--v-high-emphasis-opacity),
  $switch-inset-thumb-height: 20px,
  $switch-inset-thumb-width: 20px,
  $switch-inset-thumb-off-height: 20px,
  $switch-inset-thumb-off-width: 20px,
  $switch-inset-track-height: 30px,
  $switch-inset-track-width: 48px,
  $switch-track-background: rgba(var(--v-theme-tertiary-dark)),
  $switch-track-opacity: .32,
  $switch-label-margin-inline-start: 16px,
  $snackbar-content-padding: 0px,
  $snackbar-line-height: normal,
  $otp-input-field-font-size: 16px,
  $progress-linear-background: rgb(var(--v-theme-primary)),
  $card-elevation: 2,
  $card-actions-padding: 8px 16px 16px 16px,
  $card-title-padding: 16px,
  $card-title-font-weight: 600,
  $toolbar-background: rgb(var(--v-theme-toolbar-background)),
  $snackbar-background: rgb(var(--v-theme-snackbar-background)),
  $list-item-nav-title-font-weight: 400,
  $expansion-panel-text-padding: 0px 24px 16px,
  $tooltip-background-color: #000000,
  $stepper-item-opacity: 1,
  $stepper-item-avatar-font-size: 12px,
  $stepper-item-padding: 16px,
  $stepper-header-divider-margin: 0px,

  $typography: (
    'display-large': (
      'size': 6rem,
      'weight': 300,
      'line-height': 6rem,
      'letter-spacing': -.015625rem,
    ),
    'display-medium': (
      'size': 3.75rem,
      'weight': 300,
      'line-height': 3.75rem,
      'letter-spacing': -.0083333333rem,
    ),
    'display-small': (
      'size': 3rem,
      'weight': 400,
      'line-height': 3.125rem,
      'letter-spacing': normal,
    ),
    'headline-large': (
      'size': 2.125rem,
      'weight': 400,
      'line-height': 2.5rem,
      'letter-spacing': .0073529412rem,
    ),
    'headline-medium': (
      'size': 1.5rem,
      'weight': 400,
      'line-height': 1.9rem,
      'letter-spacing': normal,
    ),
    'headline-small': (
      'size': 1.25rem,
      'weight': 600,
      'line-height': 1.62rem,
      'letter-spacing': normal,
    ),
    'body-large': (
      'size': 1rem,
      'weight': 400,
      'line-height': 1.5rem,
      'letter-spacing': normal,
    ),
    'body-medium': (
      'size': .875rem,
      'weight': 400,
      'line-height': 1.25rem,
      'letter-spacing': normal,
    ),
    'body-small': (
      'size': .75rem,
      'weight': 400,
      'line-height': 1rem,
      'letter-spacing': normal,
    ),
    'label-large': (
      'size': .875rem,
      'weight': 600,
      'line-height': 1.375rem,
      'letter-spacing': .0071428571rem,
    ),
    'label-small': (
      'size': .625rem,
      'weight': 600,
      'line-height': 1rem,
      'letter-spacing': .05rem,
      'text-transform': uppercase,
    ),
  ),
  $font-weights: (
    'thin': 100,
    'light': 300,
    'regular': 400,
    'semi-medium': 500,
    'medium': 600,
    'bold': 700,
    'black': 900
  ),
);