@image-url: './../../../assets/images';

.account-wrapper {
  transition: 0s !important;
  visibility: hidden;
  width: 300px;
  background: #444;
  background: linear-gradient(to bottom, #061721 0%, #444 100%);
  overflow: hidden;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #fff;
  transition: all 0.4s ease;
  min-height: 288px;

  .username {
    .title {
      margin: 10px 0;
      white-space: nowrap;
      width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
.account-wrapper {
  visibility: hidden;
  opacity:0;
}
.v-navigation-drawer--is-mouseover,
.profile-visible {
  .account-wrapper {
    display: flex;
    animation: 0.4s fadeIn;
    animation-fill-mode: forwards;
  }
}
@keyframes fadeIn {
  50%{
    opacity:0;
    visibility:visible;
  }
  100%{
    opacity:1;
    visibility:visible;
  }
}
